    <hr class="split_top">  <!--first dashed line-->
    <div data-ng-controller="ChannelsCtrl"><img src="assets/advertising-2.png"</div>
    <hr class="split_top"><!--second dashed line-->

    <div class="row-fluid" data-ng-repeat="i in rows">

        <article class="span3 radio split_invisible_helper"  data-ng-repeat="i in columns">
                <p>RUSSIAN RADIO</p>
                <div class="row-fluid">
                    <div>
                        <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                        <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                    </div>
                </div>
         </article>

    </div>
    <div>
        <ul class="round_button_nav">
            <a href="#/channels" class="round_button">1</a>
            <a href="#/channels" class="round_button">2</a>
            <a href="#/channels" class="round_button">3</a>
            <a href="#/channels" class="round_button">4</a>
        </ul>
    </div>