<!DOCTYPE html>
<html data-ng-app="ngBoilerplate" data-ng-controller="AppCtrl">
  <head>
    <title data-ng-bind="pageTitle"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
      <link rel="stylesheet" type="text/css" href="assets/circle.player.css">
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

      <script type="text/javascript">
          $(document).ready(function(){
              var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
                      {
                          mp3: "http://melodia.ipfm.net/RadioMelodia"
                      }, {
                          cssSelectorAncestor: "#cp_container_1"
                      });
          });
      </script>

  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <div class="navbar transparent navbar-inverse">
          <div class="navbar-inner header_dotted">
            <div class="container">
              <ul class="nav">
                <li  style="border-left: none" data-ui-route="/home"> <!--transport this to css asap-->
                    <a href="#/home">
                        <img src="assets/plus_logo_small.png"/>
                    </a>
                </li>
                <li>
                    <a href="#test">
                        <img src="assets/Buttons/On_Button.png"/>
                    </a>
                </li>
                <li>
                  <a href="#/">
                      Now playing: {{currentRadio}}
                  </a>
                </li>
                <li>
                  <a href="#/">
                      Main
                  </a>
                </li>
                  <li>
                   <a href="#/channels">
                      Radio Channels
                   </a>
                  </li>
                <li>
                  <a href="#/">
                      Contacts
                  </a>
                </li>
                <li style="border-right: none"> <!--transport this to css asap-->
                   <a href="#/">
                      <img src="assets/Buttons/facebook.png"/>
                   </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
          <div class="container-fluid header_bar">
              <div class="header_image">
                  <img src="assets/header_bar.png" alt="header"/>
                  <div>
                      <h2>Best radiostation of Europe and Russia</h2>
                      <h4>Vote for your favorite station</h4>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="mid_mass container">

     <div class="container-fluid" data-ui-view="main"></div>
        <!------------------------------------------->
        <!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
        <div id="jquery_jplayer_1" class="cp-jplayer"></div>
        <div class="prototype-wrapper"> <!-- A wrapper to emulate use in a webpage and center align -->


            <!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->

            <div id="cp_container_1" class="cp-container">
                <div class="cp-buffer-holder"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
                    <div class="cp-buffer-1"></div>
                    <div class="cp-buffer-2"></div>
                </div>
                <div class="cp-progress-holder"> <!-- .cp-gt50 only needed when progress is > than 50% -->
                    <div class="cp-progress-1"></div>
                    <div class="cp-progress-2"></div>
                </div>
                <div class="cp-circle-control"></div>
                <ul class="cp-controls">
                    <li><a href="#" class="cp-play" tabindex="1">play</a></li>
                    <li><a href="#" class="cp-pause" style="display:none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
                </ul>
            </div>

        </div>
        <!---------------------------------------------------->

    <footer class="footer my_footer">
        <div class="ul_margin">
            <ul class="hr">
                <li>
                    <img src="assets/arrow_button.png"/>
                        <a href="#/">MAIN</a>
                </li>
                <li>
                    <img src="assets/arrow_button.png"/>
                    <a href="#/channels">CHANNELS</a>
                </li>
                <li>
                    <img src="assets/arrow_button.png"/>
                    <a href="#/">CONTACTS</a>
                </li>
            </ul>
        </div>


    </footer>
    </div>
  </body>
</html>
