<div class="jumbotron testing_text">
<a name="test"></a>
        <div class="testing_text">
            <hr class="split_top">
            <div class="row-fluid">
                <article class="span3 radio">
                    <p>Euro</p>

                    <p>Information</p>
                       <div class="row-fluid">
                        <div class="span6">
                            <ul>From</ul>
                            <ul>Style</ul>
                        </div>
                        <div class="span6">
                            <ul>Country</ul>
                            <ul>Play all</ul>
                        </div>
                        <img src="assets/Buttons/europa_logo.png"/>
                           <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>  </div>
                </article>

                <article class="span3 radio">
                    <p>Euro</p>

                    <p>Information</p>

                    <div class="row-fluid">
                        <div class="span6">
                            <ul>From</ul>
                            <ul>Style</ul>
                        </div>
                        <div class="span6">
                            <ul>Country</ul>
                            <ul>Play all</ul>
                        </div>
                        <img src="assets/Buttons/europa_logo.png"/>

                        <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>

                    </div>
                </article>

                <article class="span3 radio">
                    <p>Euro</p>

                    <p>Information</p>

                    <div class="row-fluid">
                        <div class="span6">
                            <ul>From</ul>
                            <ul>Style</ul>
                        </div>
                        <div class="span6">
                            <ul>Country</ul>
                            <ul>Play all</ul>
                        </div>
                        <img src="assets/Buttons/europa_logo.png"/>

                        <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>

                    </div>
                </article>

                <article class="span3 radio">
                    <p>Euro</p>

                    <p>Information</p>

                    <div class="row-fluid">
                        <div class="span6">
                            <ul>From</ul>
                            <ul>Style</ul>
                        </div>
                        <div class="span6">
                            <ul>Country</ul>
                            <ul>Play all</ul>
                        </div>
                        <img src="assets/Buttons/europa_logo.png"/>

                        <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>
                    </div>
                </article>


            </div>
            <hr class="split_top">

            <div class="row-fluid">
                <article class="span3 radio">
                    <p>RUSSIAN RADIO</p>
                    <div class="row-fluid">
                        <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>
                    </div>
                </article>
                <article class="span3 radio">
                    <p>RUSSIAN RADIO</p>
                    <div class="row-fluid">
                        <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>
                    </div>
                </article>
                <article class="span3 radio">
                    <p>RUSSIAN RADIO</p>
                    <div class="row-fluid">
                        <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>
                    </div>
                </article>
                <article class="span3 radio">
                    <p>RUSSIAN RADIO</p>
                    <div class="row-fluid">
                        <div>
                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                        </div>
                    </div>
                </article>

                <div class="span12">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="row-fluid">
                                <article class="span6 radio">
                                    <p>RUSSIAN RADIO</p>
                                    <div class="row-fluid">
                                        <div>
                                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                                        </div>
                                    </div>
                                </article>
                                <article class="span6 radio">
                                    <p>RUSSIAN RADIO</p>
                                    <div class="row-fluid">
                                        <div>
                                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <span>&nbsp</span>
                            <div class="row-fluid">
                                <article class="span6 radio">
                                    <p>RUSSIAN RADIO</p>
                                    <div class="row-fluid">
                                        <div>
                                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                                        </div>
                                    </div>
                                </article>
                                <article class="span6 radio">
                                    <p>RUSSIAN RADIO</p>
                                    <div class="row-fluid">
                                        <div>
                                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <span>&nbsp</span>
                            <div class="row-fluid">
                                <article class="span6 radio">
                                    <p>RUSSIAN RADIO</p>
                                    <div class="row-fluid">
                                        <div>
                                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                                        </div>
                                    </div>
                                </article>
                                <article class="span6 radio">
                                    <p>RUSSIAN RADIO</p>
                                    <div class="row-fluid">
                                        <div>
                                            <div class="span8 split_vertical"><a href="#/"><img class="pad_vote" src="assets/Buttons/Vote_Button.png"/></a></div>
                                            <div class="span4"><a href="#/"><img class="pad_vote" src="assets/Buttons/Play_Button.png"/></a></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="span6">
                            <img src="assets/advertising.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="split_top">
        </div>
        </div>


